In [48]:
import pandas as pd
import numpy as np
import re
import time
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
pashto_df = pd.read_json('Pashto_Raverty_full.json').transpose()

In [50]:
def ngrams(string, n=3):
    string = re.sub(r'[,-./]|\sBD',r'', string)
    ngrams = zip(*[string[i:] for i in range(n)])
    return [''.join(ngram) for ngram in ngrams]

In [128]:
vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams)
tf_idf_matrix_clean = vectorizer.fit_transform(pashto_df['normalized'])
tf_idf_matrix_dirty = vectorizer.transform(pd.Series(["yumn"]))

In [154]:
similarity = cosine_similarity(tf_idf_matrix_clean, tf_idf_matrix_dirty)

In [155]:
similarity = pd.Series([i[0] for i in similarity])

In [156]:
similarity

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
9241    0.0
9242    0.0
9243    0.0
9244    0.0
9245    1.0
Length: 9246, dtype: float64

In [157]:
pashto_df['normalized']

ا            alif
اب             ab
آب             ab
ابا           iba
ابابکر    ababakr
           ...
هیئت        haiat
یحیيٰ       yahya
یرغ         yragh
یږه        yajzah
یمن          yumn
Name: normalized, Length: 9246, dtype: object

In [165]:
ans = pd.concat([pashto_df['normalized'].reset_index(drop=True), similarity], axis=1).sort_values(by=0, ascending=False)

In [166]:
ans

     normalized         0
9245       yumn  1.000000
8760        yum  0.691419
6174    kalaoei  0.000000
6173    kilaoeh  0.000000
6172       kalp  0.000000
...         ...       ...
3082     chatti  0.000000
3083       chaj  0.000000
3084     chajah  0.000000
3085    chichal  0.000000
4623      sadin  0.000000

[9246 rows x 2 columns]

In [122]:
ans[ans['right_side'] > 0.5]

     left_side  right_side
0          NaN    1.000000
3615       NaN    0.644831
7313       NaN    0.669117
7317       NaN    0.600174